<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Disease Management System</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	</head>
	<body style="background-image: url('/img/IMS.png');">

		<div class="container">
			<div class="row">
			<div class="col-lg-6 container justify-content-center card border-primary" style="opacity: 0.90; margin-top:0%">
				
					<h1 class="text-center">Update Patient</h1>
					<div class="card-body">
						<form action="" method="POST">
							<div class="form-group">
								<label>Patient id:</label>
								<input type="text"
									name="patient_id"
									class="form-control"
									placeholder="Enter patient id"
                                    value="{{patient['patient_id']}}"/>
							</div>
							<div class="form-group">
								<label>First Name:</label>
								<input type="text"
									name="first_name"
									value="{{patient['first_name']}}"
									class="form-control"
									placeholder="Enter First Name"/>
							</div>
							<div class="form-group">
								<label>Last Name:</label>
								<input type="text"
									name="last_name"
									value="{{patient['last_name']}}"
									class="form-control"
									placeholder="Enter Last Name"/>
							</div>
							<div class="form-group">
								<label>Date of Birth:</label>
								<input type="date"
									name="date_of_birth"
									value="{{patient['date_of_birth']}}"
									class="form-control"
									placeholder="Enter Date of Birth"/>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary" method="PUT">Submit</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>